.aboutBanner {
    background-image: url(../images/block-1.jpg);
}
.aboutSection {
    padding-top: 3vh;
}
.aboutContent {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}
.aboutContent h3 {
    font-size: 3vh;
    font-weight: 400;
    margin-bottom: 2.5vh;
}
ul.listBlocks {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 12vh auto 0;
    flex-wrap: wrap;
    width: 88%;
}
ul.listBlocks li {
    position: relative;
    max-width: 30%;
    text-align: center;
}
ul.listBlocks li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ce0f05;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease 0s;
    padding: 20px;
}
ul.listBlocks li:hover a {
    opacity: 1;
}
ul.listBlocks li * {
    color: #fff;
    font-size: 16px;
}
ul.listBlocks li h3 {
    font-size: 22px;
    margin-bottom: 5px;
}
ul.listBlocks li p:after {
    content: '→';
    display: block;
    position: relative;
    left: -85px;
    top: 13px;
    font-size: 22px;
    transition: all 0.3s ease 0s;
}
ul.listBlocks li:hover p:after {
    left: 0px;
}
.secondAboutContentBlock {
    text-align: center;
    max-width: 82%;
    margin: 10vh auto 0;
}
section.teamSection {
    background-color: #f1f1f1;
    max-width: 100%;
    text-align: center;
}
section.teamSection h3 {
    font-size: 3vh;
    font-weight: 400;
    margin-bottom: 2.5vh;
}
.teamContent {
    max-width: 70vw;
    margin: 0 auto;
}
.teamContainer {
    display: flex;
    justify-content: space-between;
    width: 38vw;
    max-width: 735px;
    margin: 10vh auto;
}
.profileImage {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.teamBlock {
    padding: 2vw;
    border: 1px solid #ccc;
    width: 45%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamBlock h2 {
    font-size: 3.5vh;
    font-weight: 800;
}
.teamBlock h2 span {
   color: var(--red-color);
}
.teamBlock h4 {
    font-size: 2vh;
    font-weight: 400;
}
.teamBlock h6{
    font-size: 1.8vh;
    font-weight: 400;
    margin-top: 15px;
}



@media (max-width: 992px){
.aboutContent {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}
ul.listBlocks {
    margin: 9vh auto 0;
    width: 100%;
}
ul.listBlocks li {
    max-width: 90%;
    margin: 2.5vw auto;
}
.secondAboutContentBlock {
    text-align: center;
    max-width: 85%;
    margin: 7vh auto 0;
}
.teamContainer {
    width: 90vw;
    max-width: 735px;
    margin: 10vh auto;
    flex-wrap: wrap;
}
.teamBlock {
    padding: 7vw 5vw;
    width: 100%;
    max-width: 230px;
    margin: 0 auto 10vw;
}
.profileImage {
    height: 25vw;
    width: 25vw;
}
}


/*Responsive css for tab*/

@media (min-width: 768px) and (max-width: 1024px){
.aboutContent h3 {
    font-size: 2.4vh;
}
.teamBlock {
    width: 320px;
    padding: 5vw 5vw;
    max-width: 350px;
}
.teamBlock h4 {
    font-size: 1.8vh;
    font-weight: 400;
}
.profileImage {
    height: 19vw;
    width: 19vw;
}
.teamBlock h2 {
    font-size: 2.5vh;
    font-weight: 800;
}
ul.listBlocks li {
    max-width: 44%;
    margin: 2.5vw auto;
}
}