.owl-stage .owl-item {
    height: 72vh;
    background-size: cover;
    background-position: center;
}
.owl-stage .owl-item:first-child {
    background-image: url(../images/home-1.jpg);
}
.owl-stage .owl-item:nth-child(2) {
    background-image: url(../images/home-2.jpg);
}
.owl-stage .owl-item:nth-child(3) {
    background-image: url(../images/home-3.jpg);
}
.owl-stage .owl-item:last-child {
    background-image: url(../images/home-4.jpg);
}
.owl-dots {
    margin-top: 40px !important;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
}
.owl-dots button.active span {
    background-color: #858585 !important;
    padding: 6px !important;
}

section.homePageBannerSection {
    padding: 0;
}
.aboutHolder {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
.aboutHolder p {
}
ul.listBlocks {
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
    margin: 0vh auto 0;
}
ul.listBlocks li {
    position: relative;
    max-width: 30%;
    text-align: center;
}
ul.listBlocks li a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ce0f05;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease 0s;
    padding: 20px;
}
ul.listBlocks li:hover a {
    opacity: 1;
}
ul.listBlocks li * {
    color: #fff;
    font-size: 16px;
}
ul.listBlocks li h3 {
    font-size: 22px;
    margin-bottom: 5px;
}
ul.listBlocks li p:after {
    content: '→';
    display: block;
    position: relative;
    left: -85px;
    top: 13px;
    font-size: 22px;
    transition: all 0.3s ease 0s;
}
ul.listBlocks li:hover p:after {
    left: 0px;
}
.genSection {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}
.blockSection {
    background-image: url(../images/home-1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15vh;
    height: 35vh;
    justify-content: center;
    background-attachment: fixed;
}
.blockSection h2, .blockSection p {
    margin-bottom: 0;
    color: #fff;
}
.videoBlock {
    height: 45vh;
    width: 45vw;
    background-image: url(../images/vid.jpg);
    background-size: cover;
    background-position: center;
    margin: 12vh auto 25vh;
}


@media (max-width: 767px){

.aboutHolder {
    max-width: 90%;
}
ul.listBlocks {
    flex-wrap: wrap;
    max-width: 90vw;
}
ul.listBlocks li {
    max-width: 90%;
    margin: 2.5vw auto;
}
.genSection {
    max-width: 100%;
}
.blockSection {
    margin-top: 10vh;
    height: 50vh;
    padding: 5vw;
}
.videoBlock {
    height: 26vh;
    width: 90vw;
    background-size: 150%;
    margin: 9vh auto 16vh;
}
}